@use "../../../../scss/vars";

.details {
    padding: 5rem;
}

.desc-poster {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .description {
        // position: fixed;
        width: 70vw;
        left: 0;
        // top: 0;
        margin-right: 20vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}

.poster {
    position: absolute;
    width: 18vw;
    right: 5vw;
    top: 20vh;
    // margin-left: 5rem;
    > img {
        border-radius: vars.$main-border-radius;
        box-shadow: vars.$main-box-shadow;
    }
}
