@use '../../../../scss/vars';



.nav-link {
    color: #fff; 
    background-color: #2123;
    color: black;
}

.nav-link:hover,
.nav-link:focus {
    background-color: #444;
    color: vars.$main-color;
}

.nav-item {
    margin-right: 10px;
}
