.row {
    position: relative;
    flex-wrap: nowrap;
}

.row-edit {
    border-bottom: 1px solid black;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 3%;
    height: 15%;
    z-index: 1;
}
