@use '../../../../scss/vars';

.side-buttons-div {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 6vh;
  right: 1vw;
  z-index: 100;
  >button {
    display: flex;
    justify-content: center;
    width: 4rem ;
    margin-bottom: 0.5rem;
  }
}

.nav {
  font-size: 1.8rem;
  a {
    text-decoration: none;
    color: black;
  }
}
